body {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

.register-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 7.5rem 1.25rem 2.5rem 1.25rem;
    max-width: 75rem;
    margin: 0 auto;
    width: 100%;
    height: calc(100vh - 7.5rem);
}

.register-title {
    font-size: clamp(3.5rem, 6vh, 4.8rem);
    font-weight: normal;
    letter-spacing: 0.125rem;
    margin-bottom: min(2rem, 3.5vh);
    text-shadow: 0 0.25rem 0.25rem var(--shadow-black);
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 33rem;
}

.login-link {
    font-family: var(--font-main);
    font-size: 1.05rem;
    color: var(--color-main);
    text-decoration: none;
    margin-bottom: min(1.25rem, 2vh);
    text-shadow: 0 0.125rem 0.25rem var(--shadow-medium);
}

@media (max-width: 1200px) {
    .register-title { font-size: 3.8rem; }
}

@media (max-width: 768px) {
    .register-container {
        padding: 11vh 2rem 1.5rem 2rem;
        justify-content: center;
        height: 100vh;
    }
    .register-title { font-size: 2.6rem; margin-bottom: 1rem; }
    .register-form { max-width: 17.5rem; }
    .login-link { font-size: 0.85rem; margin-bottom: 0.6rem; }
}

@media (max-width: 400px) {
    .register-container { padding-top: 10vh; }
    .register-title { font-size: 2.2rem; margin-bottom: 0.6rem; }
    .register-form { max-width: 15.5rem; }
    .login-link { font-size: 0.75rem; margin-bottom: 0.4rem; }
}

/* Receta del Guiso de Unicornio */
/*
    1.Sellar la carne: 10 min
        Calienta el aceite de oliva en el caldero. Corta el lomo de unicornio en cubos, salpimiéntalo y dóralo a fuego fuerte para sellar sus jugos mágicos. Retira la carne y reserva.
    2.Cocinar el sofrito: 8 min
        En el mismo aceite, baja el fuego y añade la cebolla, el ajo y el pimiento picados. Cocina hasta que la cebolla esté transparente.
    3.Desglasar con vino: 5 min
        Sube el fuego, vierte el vino tinto y raspa el fondo del caldero para integrar los sabores. Deja que el alcohol se evapore casi por completo.
    4.Efectuar la cocción lenta: 45 min.
        Reincorpora el lomo de unicornio junto con sus jugos. Añade el caldo de carne, el laurel y la pimienta. Tapa y cocina a fuego lento hasta que la carne empiece a ablandarse.
    5.Agregar verduras y espesar: 25 min.
        Incorpora las papas y los champiñones. Remueve todo suavemente con el cuerno de unicornio para que el guiso adquiera su consistencia perfecta. Cocina hasta que las papas estén tiernas.
    6. Rectificar y servir: 5 min.
        Prueba el guiso y ajusta la sal y la pimienta al gusto. Sirve caliente, decorado con un toque de perejil fresco y acompañado de pan crujiente.
*/